# WeRateDogs Twitter Data Wrangling


#### Introduction

Real-world data rarely comes clean. Using Python and its libraries, you will gather data from a variety of sources and in a variety of formats, assess its quality and tidiness, then clean it. This is called data wrangling. You will document your wrangling efforts in a Jupyter Notebook, plus showcase them through analyses and visualizations using Python (and its libraries) and/or SQL.

The dataset that you will be wrangling (and analyzing and visualizing) is the tweet archive of Twitter user @dog_rates, also known as WeRateDogs. WeRateDogs is a Twitter account that rates people's dogs with a humorous comment about the dog. These ratings almost always have a denominator of 10. The numerators, though? Almost always greater than 10. 11/10, 12/10, 13/10, etc. Why? Because "they're good dogs Brent." WeRateDogs has over 4 million followers and has received international media coverage.

WeRateDogs downloaded their Twitter archive and sent it to Udacity via email exclusively for you to use in this project. This archive contains basic tweet data (tweet ID, timestamp, text, etc.) for all 5000+ of their tweets as they stood on August 1, 2017. More on this soon.

The goal of this project is to wrangle data from WeRateDogs Twitter's account using Python and document the whole process in a Jupyter Notebook named wrangle_act.ipynb i.e. this notebook. My aim is to wrangle this data for interesting and trustworthy analyses using visualizations
> Perform data wrangling (gathering, assessing and cleaning) on provided thee sources of data.
> Store, analyze, and visualize the wrangled data.
> Reporting on 1) data wrangling efforts and 2) data analyses and visualizations (in separate documents).

### Table of Contents
- Project Objectives
- Step 1: Gathering Data
- Step 2: Assessing Data
-  Step 3: Cleaning Data
-  Analysis and Visualization

## Gathering Data

In [228]:
import pandas as pd
import numpy as np
import requests
import json
import matplotlib.pyplot as plt

### Twitter Archive Data

In [229]:
weRateDogs_Archives = pd.read_csv('twitter-archive-enhanced.csv')

In [230]:
weRateDogs_Archives.head(3)

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,None,None,None

### Image Predictions Data

In [231]:
from pathlib import Path as path
import requests
link = 'https://d17h27t6h515a5.cloudfront.net/topher/2017/August/599fd2ad_image-predictions/image-predictions.tsv'
fileName = 'image-predictions.tsv'

In [232]:
p=path.cwd() / fileName
response=requests.get(link)
p.write_bytes(response.content)

335079

In [233]:
# Load the 'image-predictions.tsv' file into a dataframe
imagePredictions = pd.read_csv('image-predictions.tsv', sep='\t')

In [234]:
imagePredictions.head(3)

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh_springer_spaniel,0.465074,True,collie,0.156665,True,Shetland_sheepdog,0.061428,True
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,redbone,0.506826,True,miniature_pinscher,0.074192,True,Rhodesian_ridgeback,0.072010,True
2,666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,German_shepherd,0.596461,True,malinois,0.138584,True,bloodhound,0.116197,True

### API Tweets Data

In [235]:
p = path.cwd() / 'tweet-json.txt'
data = [json.loads(line) for line in open(p)]

In [236]:
date=[]
tweet_id = []
retweet_count= []
favorite_count= []
followers_count= []
verified= []

In [237]:
for x in data:
    date.append(x['created_at'])
    tweet_id.append(x['id'])
    retweet_count.append(x['retweet_count'])
    favorite_count.append(x['favorite_count'])
    followers_count.append(x['user']['followers_count']),
    verified.append(x['user']['verified'])

In [238]:
apiTweets=pd.DataFrame({
'date':date,
'tweet_id':tweet_id,
'retweet_count':retweet_count,
'favorite_count':favorite_count,
'followers_count':followers_count,
'verified':verified})

In [239]:
apiTweets.head(4)

,date,tweet_id,retweet_count,favorite_count,followers_count,verified
0,Tue Aug 01 16:23:56 +0000 2017,892420643555336193,8853,39467,3200889,True
1,Tue Aug 01 00:17:27 +0000 2017,892177421306343426,6514,33819,3200889,True
2,Mon Jul 31 00:18:03 +0000 2017,891815181378084864,4328,25461,3200889,True
3,Sun Jul 30 15:58:51 +0000 2017,891689557279858688,8964,42908,3200889,True

## Assessing Data

In [240]:
weRateDogs_Archives.sample(5)

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
656,791780927877898241,NaN,NaN,2016-10-27 23:17:38 +0000,"<a href=""http://twitter.com/download/iphone"" r...",RT @dog_rates: This is Maddie. She gets some w...,7.467577e+17,4.196984e+09,2016-06-25 17:31:25 +0000,"https://vine.co/v/5BYq6hmrEI3,https://vine.co/...",11,10,Maddie,None,None,None,None
492,813217897535406080,NaN,NaN,2016-12-26 03:00:30 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here is Atlas. He went all out this year. 13/1...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/813217897...,13,10,Atlas,None,None,None,None
2069,671134062904504320,NaN,NaN,2015-11-30 01:10:04 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Say hello to Clarence. He's a western Alkaline...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/671134062...,8,10,Clarence,None,None,None,None
228,848213670039564288,8.482121e+17,4.196984e+09,2017-04-01 16:41:12 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Jerry just apuppologized to me. He said there ...,NaN,NaN,NaN,NaN,11,10,None,None,None,None,None
1740,679503373272485890,NaN,NaN,2015-12-23 03:26:43 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Dwight. He's a pointy pupper. Very doc...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/679503373...,8,10,Dwight,None,None,pupper,None

In [241]:
weRateDogs_Archives.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 17 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   tweet_id                    2356 non-null   int64
 1   in_reply_to_status_id       78 non-null     float64
 2   in_reply_to_user_id         78 non-null     float64
 3   timestamp                   2356 non-null   object
 4   source                      2356 non-null   object
 5   text                        2356 non-null   object
 6   retweeted_status_id         181 non-null    float64
 7   retweeted_status_user_id    181 non-null    float64
 8   retweeted_status_timestamp  181 non-null    object
 9   expanded_urls               2297 non-null   object
 10  rating_numerator            2356 non-null   int64
 11  rating_denominator          2356 non-null   int64
 12  name                        2356 non-null   object
 13  doggo                       2356 non-null   object
 14  floofer                     2356 non-null   object
 15  pupper                      2356 non-null   object
 16  puppo                       2356 non-null   object
dtypes: float64(4), int64(3), object(10)
memory usage: 313.0+ KB

In [242]:
weRateDogs_Archives.isnull().sum()

tweet_id                         0
in_reply_to_status_id         2278
in_reply_to_user_id           2278
timestamp                        0
source                           0
text                             0
retweeted_status_id           2175
retweeted_status_user_id      2175
retweeted_status_timestamp    2175
expanded_urls                   59
rating_numerator                 0
rating_denominator               0
name                             0
doggo                            0
floofer                          0
pupper                           0
puppo                            0
dtype: int64

In [243]:
weRateDogs_Archives.duplicated().sum()

0

In [244]:
weRateDogs_Archives.describe()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,retweeted_status_id,retweeted_status_user_id,rating_numerator,rating_denominator
count,2.356000e+03,7.800000e+01,7.800000e+01,1.810000e+02,1.810000e+02,2356.000000,2356.000000
mean,7.427716e+17,7.455079e+17,2.014171e+16,7.720400e+17,1.241698e+16,13.126486,10.455433
std,6.856705e+16,7.582492e+16,1.252797e+17,6.236928e+16,9.599254e+16,45.876648,6.745237
min,6.660209e+17,6.658147e+17,1.185634e+07,6.661041e+17,7.832140e+05,0.000000,0.000000
25%,6.783989e+17,6.757419e+17,3.086374e+08,7.186315e+17,4.196984e+09,10.000000,10.000000
50%,7.196279e+17,7.038708e+17,4.196984e+09,7.804657e+17,4.196984e+09,11.000000,10.000000
75%,7.993373e+17,8.257804e+17,4.196984e+09,8.203146e+17,4.196984e+09,12.000000,10.000000
max,8.924206e+17,8.862664e+17,8.405479e+17,8.874740e+17,7.874618e+17,1776.000000,170.000000

In [245]:
imagePredictions.sample(5)

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
1311,754449512966619136,https://pbs.twimg.com/media/CnhXzpvW8AAQ1MB.jpg,1,beagle,0.858513,True,basset,0.076012,True,English_foxhound,0.016246,True
837,694329668942569472,https://pbs.twimg.com/media/CaLBJmOWYAQt44t.jpg,1,boxer,0.990060,True,bull_mastiff,0.007436,True,Saint_Bernard,0.001617,True
1921,856526610513747968,https://pbs.twimg.com/media/C-L-aIYXgAIR0jY.jpg,1,Old_English_sheepdog,0.798481,True,Tibetan_terrier,0.060602,True,standard_poodle,0.040722,True
1198,740699697422163968,https://pbs.twimg.com/media/Ckd-bqVUkAIiyM7.jpg,1,lawn_mower,0.878863,False,swing,0.024535,False,barrow,0.019577,False
2041,885311592912609280,https://pbs.twimg.com/media/C4bTH6nWMAAX_bJ.jpg,1,Labrador_retriever,0.908703,True,seat_belt,0.057091,False,pug,0.011933,True

In [246]:
imagePredictions['p1'].value_counts().shape

(378,)

In [247]:
imagePredictions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075 entries, 0 to 2074
Data columns (total 12 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   tweet_id  2075 non-null   int64
 1   jpg_url   2075 non-null   object
 2   img_num   2075 non-null   int64
 3   p1        2075 non-null   object
 4   p1_conf   2075 non-null   float64
 5   p1_dog    2075 non-null   bool
 6   p2        2075 non-null   object
 7   p2_conf   2075 non-null   float64
 8   p2_dog    2075 non-null   bool
 9   p3        2075 non-null   object
 10  p3_conf   2075 non-null   float64
 11  p3_dog    2075 non-null   bool
dtypes: bool(3), float64(3), int64(2), object(4)
memory usage: 152.1+ KB

In [248]:
imagePredictions.describe()

           tweet_id      img_num      p1_conf       p2_conf       p3_conf
count  2.075000e+03  2075.000000  2075.000000  2.075000e+03  2.075000e+03
mean   7.384514e+17     1.203855     0.594548  1.345886e-01  6.032417e-02
std    6.785203e+16     0.561875     0.271174  1.006657e-01  5.090593e-02
min    6.660209e+17     1.000000     0.044333  1.011300e-08  1.740170e-10
25%    6.764835e+17     1.000000     0.364412  5.388625e-02  1.622240e-02
50%    7.119988e+17     1.000000     0.588230  1.181810e-01  4.944380e-02
75%    7.932034e+17     1.000000     0.843855  1.955655e-01  9.180755e-02
max    8.924206e+17     4.000000     1.000000  4.880140e-01  2.734190e-01

In [249]:
imagePredictions.duplicated().sum()

0

In [250]:
apiTweets.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2354 entries, 0 to 2353
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   date             2354 non-null   object
 1   tweet_id         2354 non-null   int64
 2   retweet_count    2354 non-null   int64
 3   favorite_count   2354 non-null   int64
 4   followers_count  2354 non-null   int64
 5   verified         2354 non-null   bool
dtypes: bool(1), int64(4), object(1)
memory usage: 94.4+ KB

In [251]:
apiTweets.sample(5)

,date,tweet_id,retweet_count,favorite_count,followers_count,verified
1632,Tue Jan 05 04:11:44 +0000 2016,684225744407494656,239,1369,3200952,True
455,Mon Jan 09 00:53:55 +0000 2017,818259473185828864,2621,12197,3200894,True
1337,Wed Mar 02 03:30:25 +0000 2016,704871453724954624,1245,4585,3200947,True
1606,Sat Jan 09 01:59:19 +0000 2016,685641971164143616,885,3218,3200950,True
135,Sun May 21 16:48:45 +0000 2017,866334964761202691,15546,54720,3200891,True

In [252]:
apiTweets.isnull().sum()

date               0
tweet_id           0
retweet_count      0
favorite_count     0
followers_count    0
verified           0
dtype: int64

In [253]:
apiTweets.describe()

           tweet_id  retweet_count  favorite_count  followers_count
count  2.354000e+03    2354.000000     2354.000000     2.354000e+03
mean   7.426978e+17    3164.797366     8080.968564     3.200942e+06
std    6.852812e+16    5284.770364    11814.771334     4.457302e+01
min    6.660209e+17       0.000000        0.000000     3.200799e+06
25%    6.783975e+17     624.500000     1415.000000     3.200898e+06
50%    7.194596e+17    1473.500000     3603.500000     3.200945e+06
75%    7.993058e+17    3652.000000    10122.250000     3.200953e+06
max    8.924206e+17   79515.000000   132810.000000     3.201018e+06

### Quality Issues 
**WeRateDogs_Achives**
1. missing records
2. timestamp should be in datetime format and not object
3. source columns contain html link tags
4. the denominator has a max value of 170
**ImagePredictions**

5. p1, p2, and p3 ave lowercase given names
6. img_num are not use full
**ApiTweets**

7. datetime should be of datatime datatype and not object
8. tweet_id should be string instead of int

### Tidiness Issues
1. Combine the 4 dog stage columns into a single column in the archive table
2. merge WeRateDogs_Achives, imagePredictions and apiTweets tables

## Cleaning Data

In [254]:
# Make copies to preserve the original datasets
df1_clean = weRateDogs_Archives.copy()
df2_clean = imagePredictions.copy()
df3_clean = apiTweets.copy()

**1. Define**

 Handle missing records in WeRateDogs_Achives

**Code**

In [255]:
df1_clean.isnull().sum()

tweet_id                         0
in_reply_to_status_id         2278
in_reply_to_user_id           2278
timestamp                        0
source                           0
text                             0
retweeted_status_id           2175
retweeted_status_user_id      2175
retweeted_status_timestamp    2175
expanded_urls                   59
rating_numerator                 0
rating_denominator               0
name                             0
doggo                            0
floofer                          0
pupper                           0
puppo                            0
dtype: int64

In [256]:
df1_clean=df1_clean.drop(columns=['in_reply_to_status_id','in_reply_to_user_id','retweeted_status_id',
                 'retweeted_status_user_id','retweeted_status_timestamp'])

**Test**

In [257]:
df1_clean.isnull().sum()

tweet_id               0
timestamp              0
source                 0
text                   0
expanded_urls         59
rating_numerator       0
rating_denominator     0
name                   0
doggo                  0
floofer                0
pupper                 0
puppo                  0
dtype: int64

**2. Define**

Timestamp should be in datetime format and not object

**Code**

In [258]:
df1_clean['timestamp']= pd.to_datetime(df1_clean['timestamp'])

**Test**

In [259]:
df1_clean['timestamp'].dtypes

datetime64[ns, UTC]

**3. Define**

Source columns containing html link tags should be removed

**Code**

In [260]:
df1_clean['source'].head(4)

0    <a href="http://twitter.com/download/iphone" r...
1    <a href="http://twitter.com/download/iphone" r...
2    <a href="http://twitter.com/download/iphone" r...
3    <a href="http://twitter.com/download/iphone" r...
Name: source, dtype: object

In [261]:
extract=df1_clean['source'].str.extract('(>)(.*)(<)').head(4)

In [262]:
df1_clean['source']=extract[1]

**Test**

In [263]:
df1_clean['source'].head(4)

0    Twitter for iPhone
1    Twitter for iPhone
2    Twitter for iPhone
3    Twitter for iPhone
Name: source, dtype: object

**4. Define**

Remove rating_denominator greater than 10 value of 10

**Code**

In [264]:
high_denominator=df1_clean[df1_clean['rating_denominator']>10]

In [265]:
df1_clean=df1_clean.drop(high_denominator.index)

**Test**

In [266]:
df1_clean['rating_denominator'].max()

10

**5. Define**

p1, p2, and p3 having lowercase  names should all have uppercas

**code**

In [267]:
# Capitalize first letters
df2_clean['p1'] = [item.capitalize() for item in df2_clean['p1']]
df2_clean['p2'] = [item.capitalize() for item in df2_clean['p2']]
df2_clean['p3'] = [item.capitalize() for item in df2_clean['p3']]

**Test**

In [268]:
df2_clean[['p1','p2','p3']].head()

                       p1                  p2                   p3
0  Welsh_springer_spaniel              Collie    Shetland_sheepdog
1                 Redbone  Miniature_pinscher  Rhodesian_ridgeback
2         German_shepherd            Malinois           Bloodhound
3     Rhodesian_ridgeback             Redbone   Miniature_pinscher
4      Miniature_pinscher          Rottweiler             Doberman

**6. Define**

Remove img_num not usefull

**Code**

In [269]:
df2_clean=df2_clean.drop('img_num', axis =1)

**Test**

In [270]:
df2_clean.columns

Index(['tweet_id', 'jpg_url', 'p1', 'p1_conf', 'p1_dog', 'p2', 'p2_conf',
       'p2_dog', 'p3', 'p3_conf', 'p3_dog'],
      dtype='object')

**7. Define**

date should be of datatime datatype not object

**Code**

In [271]:
df3_clean['date']=pd.to_datetime(df3_clean['date'])

**Test**

In [272]:
df3_clean['date'].dtypes

datetime64[ns, UTC]

**8. Define**

tweet_id should be string instead of int

**Code**

In [273]:
df3_clean['tweet_id']=df3_clean['tweet_id'].astype(str)

**Test**

In [274]:
df3_clean['tweet_id'].dtypes

dtype('O')

**9. Define**

Combine the 4 dog stage columns

**Code**

In [275]:
#Firstly, we need to convert Nones and np.NaN to empty string '' for all columns
df1_clean.doggo.replace('None', '', inplace=True)
df1_clean.doggo.replace(np.NaN, '', inplace=True)
df1_clean.floofer.replace('None', '', inplace=True)
df1_clean.floofer.replace(np.NaN, '', inplace=True)
df1_clean.pupper.replace('None', '', inplace=True)
df1_clean.pupper.replace(np.NaN, '', inplace=True)
df1_clean.puppo.replace('None', '', inplace=True)
df1_clean.puppo.replace(np.NaN, '', inplace=True)

In [276]:
#Then we get the columns combined
df1_clean['dog_stages'] = df1_clean.text.str.extract('(doggo|floofer|pupper|puppo)', expand = True)
df1_clean['dog_stages'] = df1_clean.doggo + df1_clean.floofer + df1_clean.pupper + df1_clean.puppo

In [277]:
#Now we can delete the useless four columns
df1_clean.drop(['doggo','floofer','pupper','puppo'], axis=1, inplace = True)

**Test**

In [278]:
df1_clean['dog_stages'].value_counts()

                1956
pupper           245
doggo             83
puppo             29
doggopupper       12
floofer            9
doggopuppo         1
doggofloofer       1
Name: dog_stages, dtype: int64

**10. Define**

 merge WeRateDogs_Achives, imagePredictions and apiTweets tables

**Code**

In [279]:
newdf = pd.concat(df1_clean, df2_clean, df3_clean)
#newdf = pd.merge(newdf, df3_clean, on='tweet_id')

/tmp/ipykernel_2608/870358978.py:1: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only.
  newdf = pd.concat(df1_clean, df2_clean, df3_clean)

TypeError: first argument must be an iterable of pandas objects, you passed an object of type "DataFrame"